<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.deliveryfood.mapper.MenuMapper">

    <insert id="createMenuById" parameterType="com.deliveryfood.dao.model.MenuDto">
        INSERT INTO menu(menu_id, restaurant_id, name)
        VALUES(#{menuId}, #{restaurantId}, #{name})
    </insert>

    <select id="findMenuById" parameterType="com.deliveryfood.dao.model.MenuDto" resultType="com.deliveryfood.dao.model.MenuDto">
        SELECT * FROM menu
        WHERE restaurant_id = #{restaurantId}
    </select>

    <update id="modifyMenuById" parameterType="com.deliveryfood.dao.model.MenuDto">
        UPDATE menu SET name = #{name}
        WHERE menu_id = #{menuId}
        AND restaurant_id = #{restaurantId}
    </update>

    <delete id="deleteByMenuId" parameterType="com.deliveryfood.dao.model.MenuDto">
        DELETE
        FROM menu
        WHERE menu_id = #{menuId}
    </delete>

</mapper>