<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deliveryfood.mapper.UserMapper">

    <select id="findByUserId" resultType="com.deliveryfood.dto.UserDto">
        SELECT *
            , USER_ID as userId
            , IMAGE_PATH as imagePath
            , REG_DT as regDt
            , UDT_DT as udtDt
        FROM USER
        WHERE user_id = #{userId}
    </select>

    <insert id="register" parameterType="com.deliveryfood.dto.UserDto">
        INSERT INTO USER(user_id, address, nickname, grade, image_path, reg_dt, udt_dt)
        VALUES(#{userId}, #{address}, #{nickname}, #{grade}, #{imagePath}, #{regDt}, #{udtDt})
    </insert>

    <update id="updateUser" parameterType="com.deliveryfood.dto.UserDto">
        UPDATE USER
        SET address = #{address},
            nickname = #{nickname},
            image_path = #{imagePath},
            udt_dt = NOW()
        WHERE user_id = #{userId}
    </update>

    <delete id="deleteAllUser">
        DELETE FROM USER
    </delete>

</mapper>